$color-picker__white: #FFFFFF;
$color-picker__cloud: #F2F3F5;
$color-picker__lunar: #DFE3E8;
$color-picker__fog: #CED4DB;
$color-picker__gray: #979EA8;
$color-picker__steel: #6F7681;
$color-picker__smoke: #4C535D;
$color-picker__charcoal: #3A414A;
$color-picker__black: #000000;

$color-picker__iris: #F2F2FF;
$color-picker__lavender: #DEDEFF;
$color-picker__purple: #9391FF;
$color-picker__indigo: #635DFF;

$color-picker__orchid: #FBF0FF;
$color-picker__periwinkle: #F4D9FF;
$color-picker__mauve: #E08FFF;
$color-picker__violet: #BA23F6;

$color-picker__bubblegum: #FFF0FB;
$color-picker__blush: #FFD6F5;
$color-picker__pink: #FF80DF;
$color-picker__fuchsia: #D916A8;

$color-picker__sunrise: #FFF0F0;
$color-picker__rose: #FFD9D9;
$color-picker__salmon: #FE7070;
$color-picker__red: #E81313;

$color-picker__melon: #FFF3D9;
$color-picker__peach: #FFDDA6;
$color-picker__orange: #FC9432;
$color-picker__amber: #CC4E00;

$color-picker__canary: #FCFCCA;
$color-picker__banana: #FFF7A1;
$color-picker__yellow: #FFE342;
$color-picker__mustard: #FCCE14;

$color-picker__sand: #F7F4E4;
$color-picker__oat: #E8E2C8;
$color-picker__khaki: #CBC2A3;
$color-picker__brown: #82755B;

$color-picker__mint: #E3FAE3;
$color-picker__pistachio: #C3F7C8;
$color-picker__green: #54C45E;
$color-picker__emerald: #008A0E;

$color-picker__coastal: #D7FAF5;
$color-picker__aqua: #B8F5ED;
$color-picker__turquoise: #00C2A8;
$color-picker__teal: #008573;

$color-picker__ice: #EDF5FF;
$color-picker__sky: #CFE4FF;
$color-picker__blue: #6DB1FF;
$color-picker__sapphire: #1071E5;
