$white: #ffffff;
$black: #000000;
$disabled: #D7D7D7;
$border: #E6E6E6;
$border-form: #646464;

$hover__bg: #F5F5F5;
$hover__border: #E6E6E6;

$context-menu__bg: #1E1E1E;
$context-menu__divider: #383838;

$toolbar__bg: #2C2C2C;
$toolbar__hover: #111111;

$text__text: #000000;
$text__text--lighten-1: #2B2B2B;
$text__text--lighten-2: #555555;
$text__text--lighten-3: #808080;
$text__text--lighten-4: #AAAAAA;
$text__text--lighten-5: #D4D4D4;

$primary__primary--darken-5: #180036;
$primary__primary--darken-4: #2F006D;
$primary__primary--darken-3: #4700A3;
$primary__primary--darken-2: #5E00D9;
$primary__primary--darken-1: #7811FF;
$primary__primary: #9747FF;
$primary__primary--lighten-1: #A866FF;
$primary__primary--lighten-2: #BA84FF;
$primary__primary--lighten-3: #CBA3FF;
$primary__primary--lighten-4: #DCC2FF;
$primary__primary--lighten-5: #EEE0FF;
$primary__primary--lighten-6: #F7F1FF;
$primary__primary--lighten-7: #FCFAFF;

$grey__grey--darken-5: #222222;
$grey__grey--darken-4: #444444;
$grey__grey--darken-3: #666666;
$grey__grey--darken-2: #888888;
$grey__grey--darken-1: #AAAAAA;
$grey__grey: #CCCCCC;
$grey__grey--lighten-1: #D5D5D5;
$grey__grey--lighten-2: #DDDDDD;
$grey__grey--lighten-3: #E6E6E6;
$grey__grey--lighten-4: #EEEEEE;
$grey__grey--lighten-5: #F7F7F7;

$success__success--darken-5: #02170C;
$success__success--darken-4: #032E18;
$success__success--darken-3: #054624;
$success__success--darken-2: #075D30;
$success__success--darken-1: #08743C;
$success__success: #0A8B48;
$success__success--lighten-1: #0DB55E;
$success__success--lighten-2: #10DF74;
$success__success--lighten-3: #2DF08A;
$success__success--lighten-4: #57F3A2;
$success__success--lighten-5: #81F6B9;
$success__success--lighten-6: #ABF9D0;
$success__success--lighten-7: #D5FCE8;

$error__error--darken-5: #370209;
$error__error--darken-4: #6E0513;
$error__error--darken-3: #A5071C;
$error__error--darken-2: #DC0A26;
$error__error--darken-1: #F62A45;
$error__error: #F86175;
$error__error--lighten-1: #F97586;
$error__error--lighten-2: #FA8998;
$error__error--lighten-3: #FB9CA9;
$error__error--lighten-4: #FCB0BA;
$error__error--lighten-5: #FCC4CB;
$error__error--lighten-6: #FDD8DD;
$error__error--lighten-7: #FEEBEE;
